@tailwind base;
@tailwind components;
@tailwind utilities;

main,body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

@font-face{
  font-family:'Barlow Semi Condensed';
  src: url('../Font/BarlowSemiCondensed-SemiBold.ttf')
}

@font-face{
  font-family:'Barlow Semi Condensed-Bold';
  src: url('../Font/BarlowSemiCondensed-Bold.ttf')
}
